<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ url_for('static', filename='styles/main.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='styles/main.css') }}" rel="stylesheet" type="text/css">
    <title>Results</title>
    <a href="{{ url_for('home') }}">
            <img class="back-button" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACsSURBVGhD7dIxCsJAFEXRCda6AnUrAV2Vna219lauJG7DPaRIan0/WAypBd8P98BjmOkuTAGWr/meqR21XjtPt6QiYtTe2ikeMqojrlrK71VH3DQi/mUREQeNCAdEuCDCBREuiHBBhAsiXKy1QYuIu5YyIqy0TouQl7bX0tpoT40YN8S4IsYVMa7mMTstLWJcEeOKGFfEuJrHbLW06phHPGQWMRetnW4AfqyUDx/ucad4uVg9AAAAAElFTkSuQmCC">
    </a>
</head>
    <body class="container">
        <h1 class="display-2 info-heading">Results</h1>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% for cards in cards2Display %}
                    <div class="cards">
                        {% for card in cards %}    
                            {% if loop.index == 1 %}
                                <h4>{{ card }}</h4>
                            {% endif %}
                            {% if loop.index == 2 %}
                                <p>{{ card }}</p>
                            {% endif %}
                            {% if loop.index == 3 %}
                                <a href="{{ card }}" class=" btn btn-outline-primary btn btn-sm" target="_blank">Read Full Article</a>
                            {% endif %}
                        {% endfor %}
                    </div>        
                {% endfor %}
            </div>
            <div class="col-md-2"></div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>